{% extends 'app/Index.html' %}

{% block  titulo %}Registrar Reserva{% endblock  %}

{% block contenido %}

<div class="row justify-content-center">
    <div class="col=sm=12 col-md-6 col-lg-4 col-xl-4">
        <h2 style="text-align: center;"><strong>Registro Reserva</strong></h2>
        <div class="card" style="border-color: black;">
            <div class="card-body text-center">
                <form action="registrarReserva/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label><strong>Medico*</strong></label>
                        <br>
                        <select id="select-Profesional" name="select-Profesional" required>
                            <option value="" style="display:none"></option>
                            {% for m in Medicos %}
                            <option value="{{m.id}}">{{m.Nombres}} {{m.ApellidoP}} {{m.ApellidoM}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label><strong>Paciente*</strong></label>
                        <br>
                        <select id="select-Paciente" name="select-Paciente" required>
                            <option value="" style="display:none"></option>
                            {% for p in Pacientes %}
                            <option value="{{p.id}}">{{p.Nombres}} {{p.ApellidoP}} {{p.ApellidoM}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label><strong>Bloque*</strong></label>
                        <br>
                        <select id="select-Bloque" name="select-Bloque" required>
                            <option value="" style="display:none"></option>
                            {% for b in Bloques %}
                            <option value="{{b.id}}">{{b.Descripcion}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label><strong>Box*</strong></label>
                        <br>
                        <select id="select-Box" name="select-Box" required>
                            <option value="" style="display:none"></option>
                            {% for b in Boxes %}
                            <option value="{{b.id}}">{{b.Descripcion}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="required"><Strong>Fecha Hora Solicitud*</Strong></label>
                        <p class="datetime">
                            <strong>Fecha*</strong>
                            <input class="custom-input" type="date" id="txt-fecha-solicitud" name="txt-fecha-solicitud" class="form-control" required>
                            <br>
                            <strong>Hora*</strong>
                            <input class="custom-input" type="time" id="txt-hora-solicitud" name="txt-hora-solicitud" class="form-control" required>
                        </p>
                    </div>
                    <div class="form-group">
                        <label><Strong>Fecha Atencion*</Strong></label>
                        <br>
                        <input class="custom-input" type="date" id="txt-fecha-atencion" name="txt-fecha-atencion" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label><Strong>Estado*</Strong></label>
                        <br>
                        <input class="custom-input" type="text" id="txt-estado" name="txt-estado" class="form-control" placeholder="Ej: Confirmada" minlength="4" maxlength="12" required>
                    </div>
                    <div class="form-group">
                        <label><Strong>Tarifa*</Strong></label>
                        <br>
                        <input class="custom-input" type="text" id="txt-tarifa" name="txt-tarifa" class="form-control" placeholder="Ej: 25000" minlength="4" maxlength="8" required>
                    </div>
                    <div class="form-group">
                        <br>
                        <button type="submit" class="btn btn-success btn-block text-black" style="display: block; margin: 0 auto;">REGISTRAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
